<%
   title 'Welcome to Ruby on Rails'
   meta_description '...'
   heading 'Welcome to Ruby on Rails'
%>

<div class="row">
  <div class="col-sm-9">
    <p class="lead">
      You have successfully generated a project
      with <%= link_to 'orats', 'https://github.com/nickjj/orats' %> vVERSION.
    </p>

    <hr/>

    <p>
      <%= image_tag 'https://badge.fury.io/rb/orats.png', alt: 'Gem badge' %> is
      the latest version of orats.
    </p>

    <hr/>

    <h3>Trying to figure out what to do next?</h3>

    <p>
      Visit the wiki guide
      for <%= link_to 'what to look at after making a new project', 'https://github.com/nickjj/orats/wiki/What-to-look-at-after-making-a-new-project' %>
      .
    </p>

    <hr/>

    <h3>Want to get rid of the pages controller?</h3>

    <p>
      No problem, just follow these steps:
    <ul>
      <li>
        Run <code>bundle exec rails d controller Pages</code>
      </li>
      <li>
        Remove the root route from <code>config/routes.rb</code>
      </li>
      <li>
        Remove the link in the navigation partial at
        <code>app/views/layouts/_navigation_links.html.erb</code>
      </li>
      <li>
        Restart the server
      </li>
    </ul>
    </p>
  </div>

  <div class="col-sm-3">
    <%= image_tag '/apple-touch-icon-228x228-precomposed.png', size: '228x228', alt: 'A ruby image I found on Google' %>
  </div>
</div>
