<%
 title "Yay! You're on Rails!"
 meta_description 'Meta descriptions are useful for SEO purposes.'
 heading "Yay! You're on Rails!"
%>

<div class="row">
  <div class="col-sm-8">
    <p class="lead">
      You have successfully generated this project
      with <%= link_to 'orats', 'https://github.com/nickjj/orats' %> vVERSION.
    </p>

    <p>
      <%= image_tag 'https://badge.fury.io/rb/orats.png', alt: 'Gem badge' %>
      is the latest version.
    </p>

    <hr/>

    <h3>Learn more about Docker</h3>

    <ul>
      <li>
        <%= link_to 'Learn how to build web apps with Docker', 'https://diveintodocker.com/courses/dive-into-docker' %>
      </li>
    </ul>

    <hr/>

    <h3>Want to get rid of this page?</h3>

    <p>No problem, just follow these steps:</p>

    <ul>
      <li>
        Run <code>docker-compose exec website rails d controller Pages</code>
      </li>
      <li>
        Remove the root route from <code>config/routes.rb</code>
      </li>
    </ul>
  </div>

  <div class="col-sm-4"></div>
</div>
