<% if ENV['DISQUS_SHORT_NAME'].present? %>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '<%= ENV["DISQUS_SHORT_NAME"] %>';
    (function () {
      var s = document.createElement('script');
      s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
<% end %>