<% if current_account %>
  <li>
    <%= link_to 'Settings', edit_account_registration_path %>
  </li>
  <li>
    <%= link_to 'Sign out', destroy_account_session_path, method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to 'Sign in', new_account_session_path %>
  </li>
  <li>
    <%= link_to 'Register', new_account_registration_path %>
  </li>
<% end %>